.beborder {
    border-right: 1px solid #C59F4A;
    padding-right: 20px;
}

/* Media query for screens smaller than 700px */
@media (max-width: 1000px) {
    .beborder {
        border-right: none; /* Remove the top border */
        border-bottom: 1px solid #C59F4A; /* Add a bottom border */
        padding-bottom: 20px;
        padding-top: 10px;
    }
}
